html{
    color-scheme: dark;
}
h1 {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }
.pertama {
    width: 50%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}
.motivation-img {
    border: 5px solid white;
    width: 100%;
    max-width: 450px
  }
#credit{
    text-align: right;
    clear: both;
}
footer {
    color: white;
    text-align: center;
    padding: 20px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
